h1 {
    color: green;
    font-style: italic;
}

li {
    color:grey;
    padding-top: 3px;
    font-size: 15px;
}

.notif {
    color: black;
    background-color: lightgreen;
    font-size: 20px;
    font-style: solid;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.error {
    color: black;
    background-color: red;
    font-size: 20px;
    font-style: solid;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}